body{
	background-color: #e3e3e3;
	margin:0 auto;
	overflow: visible;
}

.wrap1{
	margin: 0 auto;
	background-color: #FF0000;
	font-size: 24px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.menu{
	display: inline;
	font-size: 20px;
	float: right;
}



.navbar1, .logo{
	padding:0px 0px 0px 10px;
	vertical-align: middle;
	margin: 0 auto;
}


h1{
	color: #FFFFFF;
}


.menu, a{
	color:#FFFFFF;
	text-decoration: none;
}

a:hover{
	color:#000000;
}

.hero{
	color: #FFFFFF;
	font-size: 75px;
	padding: 0px 20px 0px 20px;
}

.wrap2{
	padding-top: 100px;
	height: 100%;
	font-family: 'Alfa Slab One', cursive;
	background-color: #000000;
}

.a{
	background-color: #FFFFFF;
	margin-bottom: 20px;
}

.wrap3{
	background-color: #000000;
}



.qualities{
	padding: 10px 10px 10px 10px;
	text-align: center;
}

.foot{
	background-color: #FF0000;
	color: #FFFFFF;
	bottom: 0;
}

.footlist{
	margin: auto;
	display:inline;
	padding-right: 20px;
}


