body{
	background-color: #e3e3e3;
	margin:0 auto;
	overflow: visible;
}

header{
	top:0;
	width: 100%;
	position: fixed;
}

.wrap1{
	padding: 20px 0px 20px 0px;
	margin: 0 auto;
	background-color: #FF0000;
	font-size: 20px;
}

.menu{
	display: inline;
	font-size: 20px;
	float: right;
}



.navbar1, .logo{
	padding:0px 0px 0px 10px;
	vertical-align: middle;
	margin: 0 auto;
}

.logo{
	font-size: 32px;
}


h1{
	color: #FFFFFF;
}


.menu, a{
	color:#FFFFFF;
	text-decoration: none;
}

a:hover{
	color:#000000;
}

.hero{
	color: #FF0000;
	font-size: 75px;
	padding: 0px 20px 0px 20px;
	background-color: #FFFFFF;
}

.wrap2{
	padding-top: 100px;
	height: 100%;
	font-family: 'Alfa Slab One', cursive;
	background-color: #FFFFFF;
	color: #000000;
}

.a{
	height: 282px;
	width: 462px;
}

.a,.b{
	margin-bottom: 20px;
	background-color: #FF0000;
}

.b{
    height: 300px;
    width: 300px;
	border-radius: 50%;
	background-color: #FF0000;
}


.wrap3{
	padding-top: 100px;
	background-color: #FFFFFF;
	height: 100%;
}

.wrap4{
	padding-top: 100px;
	background-color: #FFFFFF;
}



.qualities{
	padding: 10px 10px 10px 10px;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
}

.foot{
	background-color: #FF0000;
	color: #FFFFFF;
	bottom: 0;
	padding: 20px 0px 20px 0px;
}

.footlist{
	margin: auto;
	display:inline;
	padding-right: 20px;
}

.copyrights{
	float:right;
}

.c{
	vertical-align: middle;
}


